extends layout

block header
    form(action="#{site}#{url}", method="post")
        table
            tr
                td
                    a(href='#{site}monitorlist') モニタ一覧
                td &nbsp;&nbsp;
                td
                    a(href='#{site}rawItemList') rawアイテム一覧
                td &nbsp;&nbsp;
                td
                    a(href='#{site}presetlist') プリセット一覧
                td &nbsp;&nbsp;
                td
                    a(href='#{site}rawDataList') rawデータ一覧
                td &nbsp;&nbsp;
                td
                    a(href='#{site}evidencelist') エビデン一覧
                td &nbsp;&nbsp;
                td
                    a(href='#{site}recoveryevilist') リカバリスクリプトエビデンス一覧
 
        br
        span(class='title') #{title}
        br
        br
        div(class='error_text') #{error_msg}

block content

