extends layout

block header
    form(action="/rec#{site}#{url}", method="post")
        table
            tr
                td
                    a(href='/rec#{site}monitorlist') モニタ一覧
                td &nbsp;&nbsp;
                td
                    a(href='/rec#{site}rawItemList') rawアイテム一覧
                td &nbsp;&nbsp;
                td
                    a(href='/rec#{site}presetlist') プリセット一覧
                td &nbsp;&nbsp;
                td
                    a(href='/rec#{site}rawDataList') rawデータ一覧
                td &nbsp;&nbsp;
                td
                    a(href='/rec#{site}evidencelist') エビデンス一覧
                td &nbsp;&nbsp;
                td
                    a(href='/rec#{site}recoveryevilist') リカバリスクリプトエビデンス一覧
 
        br
        span(class='title') #{title}
        br
        br
        div(class='error_text') #{error_msg}

block content

